<div>

    <div>
        <div class="col-12 algin-center">
            <span class="title1">DIRECCIÓN DE CEMENTERIO</span>
        </div>
        <div class="col-12 algin-center">
            <span class="title1">SOLICITUD DE VERIFICACIÓN</span>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div>
        <div class="col-12 algin-left">
            <span class="text3">Se solicita la verificación de los restos ubicados en </span><span class="text2"><%= ubicacion %></span>
        </div>
    </div>
    <div class="algin-left">
        <p class="text3">Circunscripción: <%= circunscripcion %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sección: <%= seccion %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Manzana: <%= manzana %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Parcela: <%= parcela %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Frente: <%= frente %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fila: <%= fila %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Número: <%= numero %></p>
    </div>

    <br />

    <div class="row m-b-10">
        <div class="col-3 algin-left">
            <span class="title2">Nombre del Fallecido:</span>
        </div>
        <div class="col-9 algin-left">
            <span class="text2"><%= nombreFallecido %></span>
        </div>
    </div>
    <div class="row m-b-20">
        <div class="col-3 algin-left">
            <span class="title2">Fecha de Defunción:</span>
        </div>
        <div class="col-9 algin-left">
            <span class="text2"><%= fechaDefuncion %></span>
        </div>
    </div>
    <div class="row m-b-10">
        <div class="col-3 algin-left">
            <span class="title2">Títular:</span>
        </div>
        <div class="col-9 algin-left">
            <span class="text2"><%= nombreTitular %></span>
        </div>
    </div>
    <div class="row m-b-10">
        <div class="col-3 algin-left">
            <span class="title2">Domicilio Títular:</span>
        </div>
        <div class="col-9 algin-left">
            <span class="text2"><%= domicilioTitular %></span>
        </div>
    </div>
    <div class="row">
        <div class="col-3 algin-left">
            <span class="title2">Documento Títular:</span>
        </div>
        <div class="col-9 algin-left">
            <span class="text2"><%= documentoTitular %></span>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />

    <div class="algin-left">
        <p class="text3">Motivo ......................................................................................................................................................</p>
    </div>

    <br />
    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-6 algin-center">
            <span class="text3">.............................................................</span>
        </div>
        <div class="col-6 algin-center">
            <span class="text3">.............................................................</span>
        </div>
    </div>
    <div class="row">
        <div class="col-6 algin-center">
            <span class="text3">FIRMA Y ACLARACION DE</span>
        </div>
        <div class="col-6 algin-center">
            <span class="text3">FIRMA RESPONSABLE</span>
        </div>
    </div>
    <div class="row">
        <div class="col-6 algin-center">
            <span class="text3">EMPLEADO ACTUANTE</span>
        </div>
        <div class="col-6 algin-center">
            <span class="text3"></span>
        </div>
    </div>

</div>