<div>
    <div style="padding-top: 100px">
        <div class="m-t-50 row">
            <div class="col-3"></div><div class="col-4 underlineTitle0 algin-right">Apremio:</div><div class="p-l-15 col-2 text0 algin-left"><%= numero %></div><div class="col-3"></div>
        </div>
        <div class="m-t-50 row">
            <div class="col-2"></div><div class="col-2 underlineTitle05 algin-right">Nombre:</div><div class="p-l-15 col-8 text05 algin-left"><%= nombre %></div>
        </div>
        <div class="m-t-20 row">
            <div class="col-2"></div><div class="col-2 underlineTitle05 algin-right">Juzgado:</div><div class="p-l-15 col8 text05 algin-left"><%= juzgado %></div>
        </div>
        <div class="m-t-20 row">
            <div class="col-2"></div><div class="col-2 underlineTitle05 algin-right">Abogado:</div><div class="p-l-15 col8 text05 algin-left"><%= abogado %></div>
        </div>
        <div class="m-t-20 row">
            <div class="col-2"></div><div class="col-2 underlineTitle05 algin-right">Cuenta:</div><div class="p-l-15 col-8 text05 algin-left"><%= cuenta %></div>
        </div>
    </div>
   <br />
</div>