<div>

    <div>
        <div class="col-12 algin-center">
            <span class="title1">DIRECCIÓN DE CEMENTERIO</span>
        </div>
        <div class="col-12 algin-center">
            <span class="title1">SOLICITUD DE REDUCCIÓN <%= numeroSolicitud %></span>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div>
        <div class="col-12 algin-left">
            <span class="text3">Se solicita la reducción de los restos ubicados en </span><span class="text2"><%= ubicacion %></span>
        </div>
    </div>
    <div class="algin-left">
        <p class="text3">Circunscripción: <%= circunscripcion %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sección: <%= seccion %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Manzana: <%= manzana %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Parcela: <%= parcela %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Frente: <%= frente %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fila: <%= fila %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Número: <%= numero %></p>
    </div>

    <br />

    <div class="row m-b-10">
        <div class="col-3 algin-left">
            <span class="title2">Nombre del Fallecido:</span>
        </div>
        <div class="col-9 algin-left">
            <span class="text2"><%= nombreFallecido %></span>
        </div>
    </div>
    <div class="row m-b-20">
        <div class="col-3 algin-left">
            <span class="title2">Fecha de Defunción:</span>
        </div>
        <div class="col-9 algin-left">
            <span class="text2"><%= fechaDefuncion %></span>
        </div>
    </div>
    <div class="row m-b-10">
        <div class="col-3 algin-left">
            <span class="title2">Títular:</span>
        </div>
        <div class="col-9 algin-left">
            <span class="text2"><%= nombreTitular %></span>
        </div>
    </div>
    <div class="row m-b-10">
        <div class="col-3 algin-left">
            <span class="title2">Domicilio Títular:</span>
        </div>
        <div class="col-9 algin-left">
            <span class="text2"><%= domicilioTitular %></span>
        </div>
    </div>
    <div class="row">
        <div class="col-3 algin-left">
            <span class="title2">Documento Títular:</span>
        </div>
        <div class="col-9 algin-left">
            <span class="text2"><%= documentoTitular %></span>
        </div>
    </div>

    <br />
    <br />

    <div class="algin-left">
        <p class="text2">Debera comparecer el</p>
        <p class="text2">De no concurrir en la fecha antes mencionada se dara por caducada dicha solicitud y se procedera al levantamiento de los restos y posterior conservacion de los mismos.</p>
    </div>

    <br />

    <div class="algin-left">
        <p class="text3">SE TRASLADA AL CREMATORIO ...........................</p>
        <p class="text3">SE TRASLADA A OTRO CEMENTERIO ...........................</p>
        <p class="text3">TRASLADO INTERNO .................</p>
        <p class="text3">Circunscripción: ....... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sección: ....... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Manzana: ....... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Parcela: ....... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Frente: ....... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fila: ....... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Número: .......</p>
    </div>

    <br />
    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-4 algin-center">
            <span class="text3">.............................................................</span>
        </div>
        <div class="col-4 algin-center">
            <span class="text3">.............................................................</span>
        </div>
        <div class="col-4 algin-center">
            <span class="text3">.............................................................</span>
        </div>
    </div>
    <div class="row">
        <div class="col-4 algin-center">
            <span class="text3">FIRMA Y ACLARACION DEL</span>
        </div>
        <div class="col-4 algin-center">
            <span class="text3">FIRMA Y ACLARACION DEL</span>
        </div>
        <div class="col-4 algin-center">
            <span class="text3">FIRMA Y ACLARACION JEFE</span>
        </div>
    </div>
    <div class="row">
        <div class="col-4 algin-center">
            <span class="text3">SOLICITANTE</span>
        </div>
        <div class="col-4 algin-center">
            <span class="text3">TITULAR</span>
        </div>
        <div class="col-4 algin-center">
            <span class="text3">AUTORIZANTE</span>
        </div>
    </div>

</div>